@charset "UTF-8";
/**
 * author: zhanghuan
 * created: 2017/11/4
 * describe:
 */
.row{
  margin: 0;
}
.red{
  height: 400px;
}
.green{
  height: 100px;
  background-color: green;
}
.gray{
  height: 100px;
  background-color: gray;
}
.yello{
  height: 100px;
  background-color: yellow;
}
