@charset "UTF-8";
/**
 * author: zhanghuan
 * created: 2017/11/5
 * describe: 媒体查询
 */

@media (max-width: 767px) {
  #app{
    #side-menu {
      display: none;
      width: 100%;
    }
    #page-container {
      margin-left: 0;
    }
  }
}
