@charset "UTF-8";
/**
 * author: zhanghuan
 * created: 2017/11/4
 * describe: 左侧菜单
 */
@import "Var";
#side-menu{
  width: 260px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: $sideMenuClr;
  z-index: 999;
  .side-menu-cnt{
    dl{
      margin: 0;
      border-bottom: 1px solid $sideMenuBdrClr;
    }
    dt{
      height: 49px;
      overflow: hidden;
      .side-menu-icon{
        display: inline-block;
        width: 40px;
        height: 40px;
        margin-top: 10px;
        margin-left: 18px;
        background: url("/static/img/public/sideMenuIcon.png") no-repeat 0 0;
      }
      .icon{
        display: inline-block;
        width: 40px;
        height: 100%;
        cursor: pointer;
        background: url("/static/img/public/icon.png") no-repeat 16px 20px;
        &.open{
          background: url("/static/img/public/icon.png") no-repeat -35px 20px;
        }
      }
    }
    .parent-nav{
      display: inline-block;
      height: 100%;
      min-width: 80px;
      font-size: 20px;
      line-height: 50px;
      color: $mainClr;
      text-decoration: none;
      &:hover{
        color: $activeClr;
      }
    }
    ul{
      margin: 0;
      padding: 0;
    }
    li{
      height: 39px;
      list-style: none;
      overflow: hidden;
      background-color: $sideMenuSubClr;
      border-bottom: 1px solid #b5babd;
      &:hover{
        background-color: #ebebeb;
      }
      .active{
        background-color: #ebebeb;
        .child-nav{
          color: $activeClr;
        }
      }
    }
    .child-nav{
      display: inline-block;
      height: 100%;
      margin-left: 60px;
      font-size: 16px;
      line-height: 40px;
      color: $sideMenuCldClr;
      text-decoration: none;
      &:hover{
        color: $activeClr;
      }
    }
  }
}
