@charset "UTF-8";
/**
 * author: zhanghuan
 * created: 2017/11/4
 * describe: 公共变量和方法
 */
$headerClr: #4d565b;
$activeClr: #e9a14c;
$sideMenuClr: #707578;
$sideMenuBdrClr: #676c6f;
$sideMenuSubClr: #cfd7da;
$sideMenuCldClr: #767b7f;
$mainClr: #fff;
